---
// THIS IS THE CORRECTED CODE FOR: src/pages/index.astro

// The paths are corrected to point from the 'pages' folder
// up one level ('..') and then into the correct folders.
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Journey from '../components/Journey.astro';
import Arsenal from '../components/Arsenal.astro';
---

<Layout title="Mike S - Aspiring Red Teamer">
  <main>
    <Hero /> 
    <Journey />
    <Arsenal />
    <!-- We will add the other sections here later -->
  </main>
</Layout>
